<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpotiParty</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style_index.css') }}">
</head>
<body>
    <header>
        <h1>SpotiParty</h1>
    </header>

    {%- with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<script>
			alert('{{ message }}');
			</script>
		{% endfor %}
	{% endif %}
	{% endwith -%}

    <main>

        <form action="/add/song" method="post">
            <h2>Add a song to the Spotify playlist</h2>
            <label for="lien">Spotify song's link :</label>
            <input type="text" id="lien" name="lien" required>
            <button type="submit">Add</button>
        </form>
    </main>

    <footer>
        <p>{{user}}'s SpotiParty</p>
        <p>SpotiParty - dev by 0adri3n</p>
    </footer>
</body>
</html>
